---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
const pageTitle = "Home Page";
---

<style>
  h2 {
    color: var(--color-brand-50);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
  }
  h3 {
    font-size: 1.5rem;
    color: var(--color-brand-50);
    font-weight: 600;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col absolute left-2 top-20 text-brand-500 leading-8">
    <a href="#work">#&nbsp;repos</a>
    <a href="#about">#&nbsp;about</a>
  </div>
  <Hero />
  <Projects />
  <About />
</BaseLayout>
